@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
  font-size: 62.5;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #040d15;
}

a
{
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

a:nth-child(2) {
  color: #fbfcfd;
  padding: 10px, 25px;
  background: transparent;
  border: 2px solid #0162c8;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.menu:hover span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

button.menu {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  border-style: hidden;
  animation: click 1s linear infinite;
}


@keyframes animate
{
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.switch  {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border-color: #fff;
  border-style: solid;
  transition: all 0.3s linear;
}

.switch::after {
  content: "";
  position: absolute;
  top: .1rem;
  left: .1rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s linear;
}

input[type= "checkbox"]:checked + .switch::after {
  translate: 1rem 0 ;
}

input[type= "checkbox"]:checked + .switch{
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}

input[type = "checkbox"]{
  display: none;
}

.container {
  margin: 220px auto;
  background-color: #fff;
  border: #000000 solid 2px;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: 0.8s;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.container:hover input {
  width: 350px;
}

.container input{
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
  text-align: left;
}

.container span {
  color: #0162c8;
  animation: search 1s linear;
} 

@keyframes search
{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}